.center-screen {
    background-color: aqua;
    border: 5px solid black; 
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#number-area {
    background-color: aquamarine;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: right;
    justify-content: end;
    align-items: end;
    display: flex;
}
.buttons{
    display:flex;
    margin-bottom: 3px;
    font-size: 20px;
    width: 91px;
    height: 91px;
}

.button-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 364px;
}